doctype html
html(data-dpr="2" style="font-size: 100px;")
	head
		title 史雯露大馍王-双十二妙品吧狂欢购物节
		meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
		meta(charset="utf-8")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="apple-mobile-web-app-capable" content="no")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="keywords", content="妙品吧、双十二、狂欢购物")
		meta(name="description", content="妙品全球狂欢购物节，史雯露大魔王")
		link(rel="stylesheet", href="./december.css")
		link(rel="apple-touch-startup-image", href="welcome.png")
		script(src="./library/flexible/flexible.js")

	mixin panel-template-title(title)
		.panel-title
			i.icon-surge.left
			i.icon-surge.right
			.title
				span.side [
				h4= title
				span.side ]

	mixin panel-template-1(info, index, first)
		.panel
			a(href="#{info.link}")
				- if (first) 
					img.img-goods(src="#{info.goods}")
				- else 
					img.img-goods(data-src="#{info.goods}")
				i.btn-go

	mixin panel-template-2(info, index)
		.panel(class='panel-#{index}')
			a(href="#{info.link}")
				.img-goods
					img(data-src="#{info.goods}")
				.goods-info
					p.store.text-center= info.store
					p.discount.text-center= info.discount

	mixin panel-template-3(info, index)
		- if (index == 0)
			a.panel(class='panel-big' href="#{info.link}")
				p.title= info.title
				i.short-line
				p.discount= info.discount
				i.btn-go
				img.goods(data-src="#{info.goods}")
		- else
			a.panel(class='panel-normal' href="#{info.link}")
				img.img-goods(data-src="#{info.goods}")
				p.title= info.title


	body
		include ./assets/template/header
		include ./assets/template/parts




script(src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js")
script(src="https://cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js")
script(src="./december.js")
